/out/
/out1/
/build/
venv/
/main.spec
data/
package/Config/__pycache__/
package/Image/__pycache__/
package/__pycache__/
package/info/__pycache__/
tools/recent/std/__pycache__/
caogao.py
__pycache__/main.cpython-38.pyc
package/Image/__pycache__/
package/info/__pycache__/
package/oppadc/__pycache__/
package/osuDatabase/__pycache__/
/dist/

tools/map_download/hotMap/__pycache__/

tools/pp_plus/__pycache__/
tools/map_download/mapReferDownload/__pycache__/
